challenge1/.vs/
challenge1/packages/
challenge1/challenge1/obj/
challenge1/challenge1/bin/
challenge1/PublishScripts/
challenge2/challenge2/.vs/
challenge2/challenge2/PublishScripts/
challenge2/challenge2/packages/
challenge2/packages/
challenge2/challenge2/bin/
challenge2/challenge2/obj/
challenge2/.vs/
challenge3/.vs/
challenge3/packages/
challenge3/challenge3/obj/
challenge3/challenge3/bin/